# Archivos de ayuda/documentación
HELP.md

# Ignorar todo el contenido del directorio target excepto el .jar necesario para Render
target/*
!target/final-0.0.1-SNAPSHOT.jar

# Ignorar el wrapper JAR de Maven
.mvn/wrapper/maven-wrapper.jar

# Ignorar archivos temporales o innecesarios generados por IDEs y builds

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignorar carpetas de build personalizadas
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
